/* -----------------header----------------- */
.header {
  display: grid;
  grid-template-columns: 1fr min-content 1fr;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  color: #000;
  padding: 85px 30px 96px 30px;
  line-height: 24.3px;
  align-items: center;
  width: 1100px;
  height: 293px;
}
.header__links-list {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
 /* margin-left: 20px;
  margin-right: 44px; */
  padding-left: 20px;
  padding-right: 44px;
  gap: 30px;
  list-style: circle;
}

/*.menu_item {
  list-style: circle;
}*/

.header__link_active {
  list-style-type: none;
  text-decoration: none;
}

.header__link {
  text-decoration-style: solid;
  text-decoration-thickness: 1px;
  text-underline-offset: 5px;
}

.header__address {
  display: flex;
  flex-flow: column nowrap;
  max-width: 240px;
  justify-self: end;
  margin-right: 56px;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  color: #000;
}

.header__logo {
  display: block;
  width: 135px;
    margin-top: 8px;
}

/* -----------------cover----------------- */

.cover {
  position: relative;
  background-image: url(../images/cover.jpg);
  background-size: cover;
  width: 1100px;
  height: 757px;
  z-index: -1;
} 

.overlay {
  position: absolute;
  background-color: #000;
  opacity: 0.6;
  inset: 0;
  z-index: -1;
}

.cover__title {
  color: #FFF;
  font-size: 100px;
  font-style: normal;
  font-weight: 700;
  line-height: 115px;
  letter-spacing: 30px;
  text-transform: uppercase;
  padding: 155px 20px 96px 50px;
  line-height: 135px;
  z-index: 2;
  min-width: 1100px;
}

.aligned-text {
  text-align: left;
  width: 100%;
  display: inline-block;
}

.aligned-text_center {
  text-align: center;
  width: 100%;
  display: inline-block;
}

.aligned-text_right {
  text-align: end;
  width: 100%;
  display: inline-block;
}

.cover__description {
 display: flex;
 flex-direction: row;
 justify-content: space-between;
 padding: 0px 50px 60px 50px;
 align-items: center;
}

.cover__description-text {
  color: #FFF;
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px;
  word-spacing: 18.6px;
  text-transform: uppercase;  
}

.bet-button {
  border: 1px solid #FFF;
  background: transparent;
  width: 256px;
  height: 51px;
  color: #FFF;
  font-size: 22px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  text-transform: uppercase;
  text-align: center;
}

/* -----------------lots----------------- */
.lots {
  width: 1100px;
  padding: 180px 24px 120px 24px;
}

.lots__heading {
  color: #000;
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-transform: uppercase;
  padding-left: 40px;
  z-index: 1;
}

.lots__card-list {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-top: 27px;
  list-style-type: none;
  text-decoration: none;
  margin-bottom: 30px;
  flex-wrap: wrap;
}

.card {
  position: relative;
  width: 334px;
  height: 596px;
  z-index: -1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-wrap: nowrap;
  padding: 48px 40px 48px 40px;
}

.card__title {
  color: #FFF;
  font-size: 22px;
  font-style: normal;
  font-weight: 700;
  line-height: 26.4px;
  text-decoration-line: underline;
  text-decoration-style: solid;
  text-decoration-skip-ink: none;
  text-decoration-thickness: auto;
  text-underline-offset: auto;
  text-underline-position: from-font;
  text-transform: uppercase;
}

.card__text {
  color: #FFF;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 120%; /* 24px */
}

.card_type_film {
  background-image: url(../images/card-lot-01.jpg);
  background-size: cover;
  background-position: center;
}

.card_type_book {
  background-image: url(../images/card-lot-02.jpg);
  background-size: cover;
  background-position: center;
}

.card_type_picture {
  background-image: url(../images/card-lot-03.jpg);
  background-size: cover;
  background-position: center;
}

.lots__look-more-link {
  color: #000;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-decoration: underline;
  text-decoration-style: solid;
  text-decoration-thickness: 1px;
  text-underline-offset: 5px;
  padding-left: 40px;
}

/* -----------------about----------------- */

.about {
width: 1100px;
height: 595px;
display: grid;
grid-template-columns: 334px 1fr;
padding: 34px 24px 180px 24px;
justify-items: center;
}

.about__logo {
  background-color: #000;
  width: 240px;
  height: 240px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.about__logo-image {
  display: block;
  object-fit: scale-down;
  width: 148px;
  height: 114px;
}

.about-column {
  padding-top: 101px;
  padding-left: 25px;
}

.about__title {
color: #000;
font-size: 40px;
font-style: normal;
font-weight: 700;
line-height: normal;
text-transform: uppercase;
margin-bottom: 100px;
}

.about-text {
  color: #000;
font-size: 20px;
font-style: normal;
font-weight: 400;
line-height: 24px; /* 120% */
}

.about-text__first-paragraph {
  margin-bottom: 24px;
}

/* -----------------footer----------------- */

.footer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-content: center;
  align-items: center;
  width: 1100px;
  height: 180px;
  padding-top: 180px;
  margin-bottom: 180px;
}

.footer__address {
  display: flex;
  flex-flow: column nowrap;
  max-width: 240px;
  justify-self: end;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  color: #000;
  margin-right: 79px;
  line-height: 24px;
}

.footer__link {
  text-decoration-style: solid;
  text-decoration-thickness: 1px;
  text-underline-offset: 5px;
}

.footer__menu {
  text-align: center;
  padding-bottom: 34px;
}

.footer__menu-list {
  list-style-type: none;
  text-decoration: none;
  color: #000;
text-align: center;
font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: normal;
  
}


.footer__menu-link {
  text-decoration-style: solid;
  text-decoration-thickness: 1px;
  text-underline-offset: 5px;
}

.footer__menu-link_active {

}

.footer__social-list {
  display: flex;
  flex-direction: row;
  gap: 48px;
  padding-left: 77px; 
  padding-bottom: 45px;

}

.footer__social-list-item {
  list-style-type: none;
  text-decoration: none;
}

.footer__social-icon {
  width: 48px;
  height: 48px;
}
